<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
    <p>You Created a New Instrument Successfully <%= @user.email %>!</p>
    <p>
    Instrument details<br>
    --------------------------
    </p>
    <p>Title: <%= @instrument.title%></p>
    <p>Model: <%= @instrument.model %></p>
    <p>Price: <%= @instrument.price %></p>
    <%= image_tag attachments['ruby2.png'].url, alt: 'my pic' %>
    </center>
  </body>
</html>