<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @checkout.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @checkout.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @checkout.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @checkout.contact %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @checkout.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @checkout.address2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @checkout.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @checkout.state %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @checkout.pincode %>
</p>

<%= link_to 'Edit', edit_checkout_path(@checkout) %> |
<%= link_to 'Back', checkouts_path %>
