<!DOCTYPE html>
<html>
<head>
    <title>EMusic Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    
    <!--    <script src="/javascripts/charges.js" type="text/javascript"></script> -->
    <%= tag :meta, name: "stripe-public-key", content: Figaro.env.stripe_publishable_key %> 
    <script src="https://js.stripe.com/v3/" async></script>
</head>

<body class="<%= yield (:body_class) %>">
    <% if flash[:notice] %>
    <div class="notification is-success global-notification">
        <p class="notice"><%= notice %></p>
    </div>
    <% end %>
    <% if flash[:alert] %>
    <div class="notification is-danger global-notification">
      <p class="alert"><%= alert %></p>
  </div>
  <% end %>

  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <%= link_to root_path, class:"navbar-item" do %>
        <h1 class="title is-5">EMusic Shop</h1>
        <% end  %>
        <div class="navbar-burger burger" data-target="navbar">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navbar" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
                             
                <% if cart_has_items %>
                <%= link_to cart_path(@cart), class:"navbar-item button is-warning" do %>
                <span class="icon is-small">
                  <i class="fa fa-shopping-cart"></i>
              </span>
              <span>Cart
                  <%= cart_count_over_one %>
              </span>
              <% end %>
              <% end %>
              
              <% if user_signed_in? %>


              <%= form_tag(search_page_path, :method => "get") do %>  
              <div class="input-group">  
                 <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
                 <div class="input-group-btn">  
                   <%= button_tag "Search", :class => 'btn btn-primary glyphicon glyphicon-search',:name => nil%>  
                 </div> 
              </div>  
              <% end %> 


              <%= link_to 'ChatRoom', pages_home_path, class: "navbar-item button is-primary is-rounded" %> 
              <%= link_to 'Sell', new_instrument_path, class: "navbar-item button is-dark is-rounded" %>
              
              <div class="navbar-item has-dropdown is-hoverable">
                <%= link_to 'Account', edit_user_registration_path, class: "navbar-link" %>
                <div class="navbar-dropdown is-right">
                  <%= link_to current_user.name, edit_user_registration_path, class:"navbar-item" %>
                  <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"navbar-item" %>
                  <%# <%= current_user.stripe_customer_id %>
              </div>
          </div>
          <% else %>
          <%= link_to "Sign In", new_user_session_path, class:"navbar-item button is-info" %>
          <%= link_to "Sign up", new_user_registration_path, class:"navbar-item button is-info"%>
          <% end %>

      </div>
  </div>
</div>
</div>
</nav>

<%= yield(:header) %>

<div class="container">

    <%= yield %>

</div>

<!doctype html>
  <html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title></title>
</head>
<body>
<!--     <div>
  <%#    <%= render 'payment' %>
</div>  -->

<!-- header -->
<header id = "header" class = "vh-100 carousel slide" data-bs-ride = "carousel" style = "padding-top: 104px;">
    <div class = "container h-100 d-flex align-items-center carousel-inner">
        <div class = "text-center carousel-item active">
            <h2 class = "text-capitalize text-white">best collection</h2>
            <h1 class = "text-uppercase py-2 fw-bold text-white">new arrivals</h1>
            <a href = "#" class = "btn mt-3 text-uppercase">shop now</a>
        </div>
        <div class = "text-center carousel-item">
            <h2 class = "text-capitalize text-white">best price & offer</h2>
            <h1 class = "text-uppercase py-2 fw-bold text-white">new season</h1>
            <a href = "#" class = "btn mt-3 text-uppercase">buy now</a>
        </div>
    </div>

    <button class = "carousel-control-prev" type = "button" data-bs-target="#header" data-bs-slide = "prev">
        <span class = "carousel-control-prev-icon"></span>
    </button>
    <button class = "carousel-control-next" type = "button" data-bs-target="#header" data-bs-slide = "next">
        <span class = "carousel-control-next-icon"></span>
    </button>
</header>
<!-- end of header -->


<!-- blogs -->
<section id = "blogs" class = "py-5">
    <div class = "container">
        <div class = "title text-center py-5">
            <h2 class = "position-relative d-inline-block">Our Latest Blog</h2>
        </div>

        <div class = "row g-3">
            <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
                <%= image_tag ("blog_1.jpg") %>
                <div class = "card-body px-0">
                    <h4 class = "card-title">Instant Payment</h4>
                    <p class = "card-text mt-3 text-muted">Electronic payments are much faster than the traditional methods of payments such as cash or cheques. In the case of online payments, you do not have any constraint of time or location. You can easily make payments at any time from anywhere across the globe.</p>
                    <p class = "card-text">
                        <small class = "text-muted">
                            <span class = "fw-bold">Author: </span>EMusic
                        </small>
                    </p>
                    
                </div>
            </div>

            <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
               <%= image_tag ("blog_2.jpg") %>
               <div class = "card-body px-0">
                <h4 class = "card-title">User-Friendly</h4>
                <p class = "card-text mt-3 text-muted">As a matter of fact, studies show that 76% of consumers say the most important characteristic of a website is ease of use. Online sellers have minutes, if not seconds, to make a sale. Focus on the user experience by providing shopping categories, filters, and comparison capabilities.</p>
                <p class = "card-text">
                    <small class = "text-muted">
                        <span class = "fw-bold">Author: </span>EMusic
                    </small>
                </p>
                
            </div>
        </div>

        <div class = "card border-0 col-md-6 col-lg-4 bg-transparent my-3">
            <%= image_tag ("blog_3.jpg") %>
            <div class = "card-body px-0">
                <h4 class = "card-title">Message broadcasting</h4>
                <p class = "card-text mt-3 text-muted"> Users can easily communicate with eachother, With message broadcasting, users can send similar messages to various persons without creating a unified chat with them. Users will get a simple non-group message without the ability to identify other recipients.</p>
                <p class = "card-text">
                    <small class = "text-muted">
                        <span class = "fw-bold">Author: </span>EMusic
                    </small>
                </p>
                
            </div>
        </div>
    </div>
</div>
</section>
<!-- end of blogs -->

<!-- blogs -->
<!--     <section id = "offers" class = "py-5">
        <div class = "container">
            <div class = "row d-flex align-items-center justify-content-center text-center justify-content-lg-start text-lg-start">
                <div class = "offers-content">
                    <span class = "text-black">Discount Up To 40%</span>
                    <h2 class = "mt-2 mb-4 text-black">Grand Sale Offer!</h2>
                    <a href = "#" class = "btn">Buy Now</a>
                </div>
            </div>
        </div>
    </section> -->
    <!-- end of blogs -->


    <!-- about us -->
    <section id = "about" class = "py-5">
        <div class = "container">
            <div class = "row gy-lg-5 align-items-center">
                <div class = "col-lg-6 order-lg-1 text-center text-lg-start">
                    <div class = "title pt-3 pb-5">
                        <h2 class = "position-relative d-inline-block ms-4">About Us</h2>
                    </div>
                    <p class = "lead text-muted">EMusic shop has been on the cutting edge of innovation, and that is what we provide to our customers</p>
                    <p>Music has been a part of human life since times immemorial. It is not just an activity that involves an individual and a set of musical instruments. It is, instead, a medium that helps express the most profound human emotions. The company has set up the Emusic online store in India, where individuals can explore the entire range of musical instruments online.
                    </p>
                </div>
                <div class = "col-lg-6 order-lg-0">
                    <%= image_tag ("shop.jpg") %>
                </div>
            </div>
        </div>
    </section>
    <!-- end of about us -->

    <!-- footer -->
    <footer class = "bg-dark py-5">
        <div class = "container">
            <div class = "row text-white g-4">
                <div class = "col-md-6 col-lg-3">
                    <a class = "text-uppercase text-decoration-none brand text-white" href = "index.html">EMusic</a>
                    <p class = "text-white text-muted mt-3">EMusic Shop India has an online listing of musical instruments suited for kids, young adults, professionals, audiophiles, and individuals wanting to explore sophisticated home audio solutions.</p>
                </div>

                <div class = "col-md-6 col-lg-3">
                    <h5 class = "fw-light">Links</h5>
                    <ul class = "list-unstyled">
                        <li class = "my-3">
                            <a href = "#" class = "text-white text-decoration-none text-muted">
                                <i class = "fas fa-chevron-right me-1"></i> Home
                            </a>
                        </li>
                        <li class = "my-3">
                            <a href = "#" class = "text-white text-decoration-none text-muted">
                                <i class = "fas fa-chevron-right me-1"></i> Collection
                            </a>
                        </li>
                        <li class = "my-3">
                            <a href = "#" class = "text-white text-decoration-none text-muted">
                                <i class = "fas fa-chevron-right me-1"></i> Blogs
                            </a>
                        </li>
                        <li class = "my-3">
                            <a href = "#" class = "text-white text-decoration-none text-muted">
                                <i class = "fas fa-chevron-right me-1"></i> About Us
                            </a>
                        </li>
                    </ul>
                </div>

                <div class = "col-md-6 col-lg-3">
                    <h5 class = "fw-light mb-3">Contact Us</h5>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class = "me-3">
                            <i class = "fas fa-map-marked-alt"></i>
                        </span>
                        <span class = "fw-light">
                            Madhya pradesh, INDIA
                        </span>
                    </div>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class = "me-3">
                            <i class = "fas fa-envelope"></i>
                        </span>
                        <span class = "fw-light">
                            emusic.support@gmail.com
                        </span>
                    </div>
                    <div class = "d-flex justify-content-start align-items-start my-2 text-muted">
                        <span class = "me-3">
                            <i class = "fas fa-phone-alt"></i>
                        </span>
                        <span class = "fw-light">
                            +9111 2222 333
                        </span>
                    </div>
                </div>

                <div class = "col-md-6 col-lg-3">
                    <h5 class = "fw-light mb-3">Follow Us</h5>
                    <div>
                        <ul class = "list-unstyled d-flex">
                            <li>
                                <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class = "fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class = "fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class = "fab fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href = "#" class = "text-white text-decoration-none text-muted fs-4 me-4">
                                    <i class = "fab fa-pinterest"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end of footer -->


</body>
</html>


</body>
</html>